body {
  background-color: #f1f5f8;
}

.App {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1200px;
  margin: auto auto;
}

.navbar {
  text-align: center;
  margin-bottom: 50px;
}

.navbar .title {
  margin-bottom: 20px;
}

.navbar .title h1 {
  color: #24244b;
  font-size: 50px;
  margin: 0;
}

.navbar .title div {
  width: 80px;
  height: 5px;
  background-color: rgb(146, 98, 7);
  margin: 0 auto;
}

.navbar .filters {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navbar .filters button {
  margin-right: 15px;
  background-color: #f1f5f8;
  border: none;
  font-size: 20px;
  color: rgb(204, 145, 35);
  transition: 0.7s;
  border-radius: 5px;
}

.navbar .filters button:hover {
  cursor: pointer;
  background-color: rgb(146, 98, 7);
  color: white;
  transition: 0.7s;
}

.content {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
}

.dish {
  display: flex;
  justify-content: space-between;
  margin: 20px 5px;
}

.dish .fitter {
  height: 142px;
  flex: 0 0 242px;
}

.dish img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 4px solid rgb(230, 163, 39);
}

.dish .right {
  flex: auto;
  text-align: left;
  margin: 0 20px;
}

.dish .right .top {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted gray;
  margin-bottom: 15px;
}

.dish .right .top .title {
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
}

.dish .right .top .price {
  color: rgb(146, 98, 7);
  margin: 0;
}

.dish .right .info {
  color: rgb(120, 154, 194);
}
